/* You can add global styles to this file, and also import other style files */
body {
  height: 100%;
}


.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  margin: auto;
  align-items: center;
  background-color: #3665AA;
}

.flex-grow-1 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.mapDiv {
  height: 100%;
}

.salary {
  color: #007a02;
}

