<div class="toolbar">
  <div (click)="back()" class="flex-grow-1"><i class="fa fa-chevron-left fa-2x "></i></div>
  <span style="flex-grow: 4"></span>
  <div (click)="showMap()" class="flex-grow-1"><i class="fa fa-map-o fa-2x flex-grow-1"></i></div>
  <div (click)="showProfile()" class="flex-grow-1"><i class="fa fa-user fa-2x "></i></div>
</div>

<div>
  <div *ngFor="let challenge of listeChallenge" class="">
    <div id="pannel" class="panel panel-primary">
      <div class="panel-heading">{{challenge.titre}} <span class="salary bold">{{challenge.salaire}}$</span></div>
      <div class="panel-body">
        <span class="bold">Description :</span> {{challenge.description}}
        <div><span class="bold">Adresse : </span> {{challenge.adresse}} (distance?)</div>
      </div>

      <div class="panel-body">
        <button type="button" class="moreInfoButon btn" (click)="moreInfo(challenge)">Plus d'informations</button>
      </div>
    </div>
  </div>
</div>
