<div>
    <button id="retour" class="btn-primary col-xs-offset-1" (click)="back()">Back</button>
</div>

<div>
    <div *ngFor="let challenge of listeChallenge" class="col-xs-10 col-xs-offset-1">
        <div id="pannel" class="panel panel-primary">
            <div class="panel-heading">{{challenge.titre}}</div>
            <div class="panel-body">Description : {{challenge.description}}</div>
            <div class="panel-body">Salaire : {{challenge.salaire}}</div>
            <div class="panel-body">Adresse : {{challenge.adresse}} (distance?) </div>
                <div class="panel-body"><button type="button" class="btn" (click)="moreInfo(challenge)">Plus d'informations</button></div>
        </div>
    </div>
</div>