<div class="login-page">
    <div class="form">
      <form class="register-form" *ngIf="afficherInscription">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <button (click)="changerFormulaire()">Login !</button></p>
      </form>
      <form class="login-form" *ngIf="!afficherInscription">
        <input type="text" placeholder="username"/>
        <input type="password" placeholder="password"/>
        <button>login</button>
        <p class="message">Not registered? <button (click)="changerFormulaire()">Register !</button></p>
      </form>
    </div>
  </div>