<div class="col-md-8 col-md-offset-2">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form ngNativeValidate (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="email">Your message:</label>
            <input type="text" id="content" class="form-control" ngModel name="content" required>
        </div>
        <div class="button">
            <button class="btn btn-primary" type="submit">Send message</button>
            <button class="btn btn-warning" type="text" (click)="onClear(f)">Clear</button>
        </div>
    </form>
</div>