<div>
    <button id="retour" class="btn-primary col-xs-offset-1" (click)="back()">Back</button>
</div>

<agm-map [latitude]="latitude" [longitude]="longitude">
  <agm-marker class="mapMarker" *ngFor="let challenge of challenges;" [latitude]="challenge.latitude" [longitude]="challenge.longitude" [label]="challenge.name">
    <agm-info-window >

      <div class="marker-info">
        <!--<a (click)="onClickInfoView({id:m.id})" class="btn btn-attention pull-right">test<i class="fa fa-angle-double-right"></i></a>-->
        <div class="title"> {{challenge.titre}}  <span class="salary">{{challenge.salaire}}</span></div>
        <div class="adress">{{challenge.adresse}}</div>

        <div class="description">{{challenge.description}}</div>
        <div class="author">{{challenge.auteur}}</div>

        <a>Take challenge</a>

      </div>

    </agm-info-window>
  </agm-marker>
</agm-map>

<div class="containerCenter">

<button id="buttonReleveDefi">Take the challenge</button>
</div>
