agm-map {
  height: 400px;
  min-height: 300px;
}

#retour {
  margin-bottom: 10px;
}

#buttonReleveDefi {
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #3665aa;
  outline: 0;
  height: 80px;
  border: 0;
  padding: 15px;
  margin-left: 170px;
  color: #FFFFFF;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  max-width: 300px;
  border-radius: 5px;
}

.containerCenter {
  width: 100%;
  height: 100%;
}

.marker-info {
}

.title {
  width: 100%;
  align-items: center;
  text-align: center;
  font-weight: 800;
  font-size: 16px;
}

.salary {
  color: #007a02;
}

.lienProfile {
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.adress {
  color: #3665aa;
  font-weight: 600;
  text-align: center;
}
