<div class="form" *ngIf="!showSuccess" id="formDescription">
    <form ngNativeValidate (ngSubmit)="submitYourTask(f)" #f="ngForm">
        <div class="form-group">
            <label for="task">Task:</label>
            <input type="text" class="form-control" name="task" id="tache" aria-describedby="tachehelp" placeholder="Type of service">
        </div>
        <div class="form-group">
            <label for="adress">Adress:</label>
            <input class="form-control" rows="5" id="adress" name="adress" placeholder="Adress">
        </div>
        <div class="form-group">
            <label for="date">Date:</label>
            <input class="form-control" rows="5" id="date" name="date" placeholder="Date" type="datetime-local">
        </div>
        <div class="form-group">
            <label for="precision">More details:</label>
            <textarea class="form-control" rows="5" id="precision" name="details" placeholder="You can give more details about what you need"></textarea>
        </div>
        <div class="form-group">
            <label for="prix">Proposed salary:</label>
            <input type="prix" class="form-control" id="cad" name="salary" placeholder="CAD">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid">Submit !</button>
    </form>
</div>

<div *ngIf="showSuccess" class="button">
    <h4 class="alert alert-success"><strong>Success! </strong>Your task is successfully submitted<i (click)="changeRouting()" class="fa fa-times-circle" aria-hidden="true"></i></h4>
</div>