<form id="formDescription" class="form">
    <div class="form-group">
      <label for="tache">Tâche:</label>
      <input type="tache" class="form-control" id="tache" aria-describedby="tachehelp" placeholder="Nature de la tâche">
    </div>
    <div class="form-group">
      <label for="precision">Détails supplémentaires:</label>
      <textarea class="form-control" rows="5" id="precision" placeholder="Précisions au besoin"></textarea>
    </div>
    <div class="form-group">
      <label for="prix">Salaire proposé:</label>
      <input type="prix" class="form-control" id="prix" placeholder="CAD" id="cad">

    </div>
    <button type="soumettre" class="btn btn-primary">Confirmer la demande !</button>
</form>
