<div class="card">
  <div class="wrapperB"   [ngStyle]="{'background-image': 'url(' + userProfile.nomPhoto + ') '}"></div>
  <h1>{{userProfile.name}}</h1>
  <p class="title">{{userProfile.title}}</p>
  <!--"background-image: '../assets/gars1.jpg';"-->
  <p>{{userProfile.location}}</p>
  <p>{{userProfile.distance}} kms</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <p><button>Contact</button></p>
</div>
